
<div class="Header-principal">
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1><strong>Armá tu equipo</strong></h1>
        </div>
    </div>

    <form novalidate  [formGroup]="grupoForm">
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="nombre">Equipo</label>
                </div>            
                <input type="text" formControlName="nombre"
                    class="form-control" id="nombre" placeholder="Ingresá el nombre"
                >
            </div>

            <div class="error"
                *ngIf="grupoForm.get('nombre')?.hasError('required') && grupoForm.get('nombre')?.touched">
                Falta el nombre del equipo
            </div>

            <div class="error"
                *ngIf="grupoForm.get('nombre')?.hasError('minLength') && grupoForm.get('nombre')?.touched">
                El nombre del equipo requiere como minimo 3 caracteres
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="cantIntegrantes">Jugadores</label>
                </div>
                <select class="custom-select" id="cantIntegrantes"
                    formControlName="cantIntegrantes">
                    <option selected>Selecciona...</option>
                    <option value="10">10</option>
                    <option value="12">12</option>
                    <option value="14">14</option>
                    <option value="16">16</option>
                    <option value="20">22</option>
                </select>
            </div>

            <div class="error"
                *ngIf="grupoForm.get('cantIntegrantes')?.hasError('required') && grupoForm.get('cantIntegrantes')?.touched">
                Falta la cantidad de jugadores
            </div>
        
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="dia">Día</label>
                </div>
                <select class="custom-select" id="dia"
                    formControlName="dia">
                    <option selected>Selecciona...</option>
                    <option value="1">Lunes</option>
                    <option value="2">Martes</option>
                    <option value="3">Miercoles</option>
                    <option value="4">Jueves</option>
                    <option value="5">Viernes</option>
                    <option value="6">Sabado</option>
                    <option value="7">Domingo</option>
                </select>
            </div>

            <div class="error"
                *ngIf="grupoForm.get('dia')?.hasError('required') && grupoForm.get('dia')?.touched">
                Falta el día del partido
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="direccion">Dirección</label>
                </div>            
                <input type="text" formControlName="direccion"
                    class="form-control" id="direccion" placeholder="Dirección de la cancha"
                >
            </div>

            <div class="error"
                *ngIf="grupoForm.get('direccion')?.hasError('required') && grupoForm.get('direccion')?.touched">
                Falta la dirección
            </div>

            <div class="error"
                *ngIf="grupoForm.get('direccion')?.hasError('minLength') && grupoForm.get('direccion')?.touched">
                La direccion requiere como minimo 3 caracteres
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="hora">Hora</label>
                </div>            
                <input type="time" formControlName="hora"
                    class="form-control" id="hora" placeholder="Hora que jugamos"
                >
            </div>

            <div class="error"
                *ngIf="grupoForm.get('hora')?.hasError('required') && grupoForm.get('hora')?.touched">
                Falta la hora
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="cancha">Precio</label>
                </div>            
                <input type="number" formControlName="precio"
                min="10" max="100000" class="form-control" id="precio" placeholder="Precio de la cancha"
                >
            </div>

            <div class="error"
                *ngIf="grupoForm.get('precio')?.hasError('required') && grupoForm.get('precio')?.touched">
                Falta el precio
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="cancha">Mail</label>
                </div>            
                <input type="email" formControlName="mail"
                class="form-control" id="mail" placeholder="Mail de contacto"
                >
            </div>

            <div class="input-group mb-3">
                <div class="form-check">
                    <input class="form-check-input" formControlName="juegaTorneo" type="checkbox" value="" id="juegaTorneo">
                    <label class="form-check-label" for="flexCheckIndeterminate">
                      Disponible para jugar torneos
                    </label>
                  </div>
            </div>

            <div class="form-group row mt-3">
                <div class="row">
                    <div class="example-button-row">
                        <button mat-raised-button *ngIf="grabo"
                            matTooltip="Grabar"
                            [disabled]="grupoForm.invalid"
                            color="primary"
                            style="background-color: #2E86C1;"
                            (click)="onSubmit()">
                            Grabar
                            <fa-icon [icon]="faFloppyDisk"></fa-icon>
                        </button>

                        <button mat-raised-button *ngIf="puedeNavegar"
                            matTooltip="Armar Equipo"
                            class="btn btn-primary" 
                            [disabled]="grupoForm.invalid"
                             style="background-color: #3859F0;"
                            (click)="navegarGrupo()">
                            Anotate
                            <fa-icon [icon]="faFutbol"></fa-icon>
                        </button>
                        
                        <button mat-raised-button
                            matTooltip="Atras"
                            color="warn"
                            (click)="back()"
                            style="background-color: #191d21">
                            Volver
                            <fa-icon [icon]="faRightFromBracket"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div  *ngIf="puedeNavegar" class="form-group mt-2">
        <strong>¡Enviale este link a tus amigos!</strong>
        <br>
        <input type="text" [(ngModel)]="linkGrupo" readonly #formInputText
        style="height: 35px; width: 270px; background-color: lightgray;">
        <button mat-raised-button 
            matTooltip="Compartir por Whatsapp"
            class="btn btn-primary" 
            style="background-color: #4300fb;"
            (click)="compartirWhatsapp()">Compartir
            <fa-icon [icon]="faWhatsapp"></fa-icon>
        </button>
    </div>
</div>
</div>