
.Header-principal{
  position: fixed;   
  width: 100%;
  top:0;
  background-color: white;
  padding-top: 10px;
}

.example-button {
  margin-top: 16px;
}

.example-tooltip-uppercase {
  text-transform: uppercase;
}