
<div class="position-absolute top-50 start-50 translate-middle">

    <form novalidate  [formGroup]="mensajeForm">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Mensaje</label>
          <br>
          <strong>Minimo de 5 caracteres</strong>
          <textarea class="form-control" formControlName="mensaje" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>



        <div class="error"
            *ngIf="mensajeForm.get('mensaje')?.hasError('required') && mensajeForm.get('mensaje')?.touched">
            Falta el mensaje
        </div>

        <div class="error"
            *ngIf="mensajeForm.get('mensaje')?.hasError('minLength') && mensajeForm.get('mensaje')?.touched">
            El mensaje al equipo requiere como mínimo 5 caracteres
        </div>

        <div class="form-group row mt-3">
            <div class="col-6">
                <button mat-raised-button
                    matTooltip="Grabar"
                    color="primary"
                    style="background-color: #2E86C1;"
                    [disabled]="mensajeForm.invalid"
                    (click)="enviarMensaje()">
                    Enviar
                    <fa-icon [icon]="faShareFromSquare"></fa-icon>
                </button>
            </div>
            <div class="col-6">
                <button mat-raised-button
                    matTooltip="Atras"
                    color="warn"
                    (click)="back()"
                    style="background-color: #191d21">Volver
                    <fa-icon [icon]="faRightFromBracket"></fa-icon>
                </button>
            </div>
        </div>
    </form>
</div>