<div class="position-absolute top-50 start-50 translate-middle">
    <div class="row">
        <div class="col-md-12 text-center">

            <h2><strong>Quien Juega...</strong></h2>
            <p>Login con Gmail</p>

            <button mat-raised-button
            matTooltip="Login con Goolge"
            color="primary" 
            (click)="logIn('google')">Login Google
            </button>

<!---
            <button type="button" class="btn btn-outline-primary" (click)="logIn('google')">
                SignIn Google
            </button>
-->
        </div>
    </div>
</div>
