<div class="row">
    <div class="col-md-12 text-center">

        <p>Hace Login con Gmail</p>
        <button type="button" class="btn btn-outline-primary" (click)="logIn('google')">
            SignIn Google
        </button>

        <div class="col-4" style="align-items: self-end;">
            <button mat-raised-button
            matTooltip="Sumate"
            style="background-color: #2E86C1;float: right;"
            (click)="logIn('google')">
            </button>
        </div>
    </div>
</div>
