.mat-progress-spinner {
	top: 50%; 
	left: -50px; 
  
	margin-top: 20px; 
	margin-bottom: 20px;
  }

#uploader-status{
    margin-left:50%;
}


.uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #000000;
    left: 40%;
/*    
    margin-left: 50%;
    top: 40%;
    */
}

.uno {
    position: absolute;
    background-color: rgba(0, 102, 255, 0.805);
    opacity: 0.3;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
  }