/*Bloquea el DIV donde estan los datos*/
/*Con position: fixed; no puedo acceder al DIV de abajo*/ 
.container{
  padding-top: 100px;
}

.bloqueodiv {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center !important;
    align-items: center !important;
  }


.mat-progress-spinner circle, .mat-spinner circle {
    stroke: blue !important; 
}
  

 
  