<!--<app-header></app-header>-->
<div class="Header-principal">
    <div class="container">
        <div class="row" *ngIf="infoGrupo">
            <div class="col-8">
                <h1><strong>{{title}}</strong></h1>
            </div>
            <div class="col-4">
                <button mat-raised-button
                matTooltip="Sumate"
                style="background-color: #2E86C1;float: right;"
                (click)="abrirDialogo()">
                <fa-icon [icon]="faPlus"></fa-icon>Me sumo
                </button>
            </div>
        </div>
        
        <div *ngIf="!cargando">
            <div class="row" *ngIf="infoGrupo">
      
                <div class="col-8">
                    <p> Cuánto: ${{precio}}</p>
                </div>

                <div class="col-4">
                    <button mat-raised-button
                    matTooltip="Salir"
                    style="float: right;background-color: #CD5C5C;"
                    (click)="back()">
                    <fa-icon [icon]="faRightFromBracket"></fa-icon>
                    </button>
                </div>

            </div>
      
            <div class="row" *ngIf="infoGrupo">
                <div class="col-12">
                    <p style="color:black;"> Dónde: {{direccion}} a las {{hora}}hs</p>
                </div>
            </div>
            
            <div class="row" *ngIf="infoJugadores">
                <div class="col">
                    <div *ngIf="juegan.length==0 && noJuegan.length==0">
                        <p>No hay jugadores cargados...</p>
                    </div>
                    <div *ngIf="juegan.length>0 && infoJugadores">
                        <p style="color:black;">Cuándo: {{nombreDia}} {{fecha}} </p> <!--somos {{juegan.length}}</p>-->
                        <p>Confirmados: <strong style="color: red; font-size: large;"> {{juegan.length}}</strong></p>
                    </div>
                    <div *ngIf="juegan.length==0 && noJuegan.length>0">
                        <p style="color:black;">Cuándo: {{nombreDia}} {{fecha}} </p><!--hay nadie anotado</p>-->
                        <p>Confirmados: <strong style="color: red; font-size: large;">0</strong></p>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="infoGrupo">
                <div class="col">
                        <input type="text" [(ngModel)]="linkGrupo" readonly
                        style="height: 35px; width: 270px; background-color: lightgray;">
                        <button mat-raised-button 
                            matTooltip="Compartir por Whatsapp"
                            class="btn btn-primary" 
                            style="background-color: #4300fb;"
                            (click)="compartirWhatsapp()">
                            <fa-icon [icon]="faWhatsapp"></fa-icon>
                        </button>
                </div>
            </div>
        
            <hr>
        </div>
    </div>
</div>



<div class="container">
<!--Muestro el DIV que boquea hasta que termine de Grabar-->
    <div class="container bloqueodiv" *ngIf="showDiv">
        <mat-progress-spinner [color]="color"
            [mode]="mode" 
        >
        </mat-progress-spinner>
    </div>

    <!--Los que JUEGAN-->
    <div *ngIf="juegan.length>0">
        <p style="color:blue;">Los que Juegan</p>
    </div>

    <div class="row animate__animated animate__fadeIn">

        <table class="table table-striped" *ngIf="juegan.length > 0">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Nombre</th>
                    <th class="text-center" scope="col">Pagás</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let listado of juegan; let i = index">
                    <td class="text-center">
                        {{listado.nombre}}          
                    </td>
                    <td class="text-center">
                        ${{value}}
                    </td>
                    <td class="text-center">
                        <button class="btn btn-danger" style="width: 50;float: right" (click)="actualizaJugador(false, i)">Me Bajo</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--Lo que NO JUEGAN-->
    <div *ngIf="noJuegan.length>0">
        <p style="color:blue;">Los de Siempre</p>
    </div>

    <div class="row animate__animated animate__fadeIn">
        <table class="table table-striped" *ngIf="noJuegan.length > 0">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Nombre</th>
                </tr>
            </thead>
            <tbody>
            
            <tr *ngFor="let listado of noJuegan; let i = index">
                <td class="text-center">
                    {{listado.nombre}}          
                </td>
                <td class="text-center">
                    <button *ngIf="listado.activo" class="btn btn-success" style="float: right;width: 84.02px;" (click)="actualizaJugador(true, i)" [disabled]="juegan.length==cantIntegrantes">Voy</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>




